*.xml
*.iml
/data/checkpoint/
/third_parties/
*.bin
*.pth
__pycache__/
*.py[cod]
.DS_Store
.idea/
logs/
tmp/
results*/
build_output.txt
*.log

/data/MP3D/
/data/Replica/
/data/mp3d_sim_nvs*/
/data/replica_sim_nvs*/
/data/replica_v1/
/data/tmp/

/tools/analysis/